* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.container {
  background: url("./images/mobile.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 120vh;
  position: relative;
  overflow: scroll;
}

.container::after {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  position: relative;
  z-index: 2;
}

.item-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  margin-left: 40px;
}

.field {
  color: black;
  height: 50px;
  width: 300px;
  margin-bottom: 20px;
}

input {
  height: 100%;
  width: 100%;
  color: black;
  padding: 10px;
}

button {
  width: 100%;
  height: 50px;
  font-size: 20px;
}

.server-url {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 10px;
  width: 50%;
}

p {
  margin: 0px;
  overflow-x: scroll;
}

.alert {
  background-color: tomato;
}

.server-status {
  position: relative;
  font-size: 40px;
  padding: 20px;
  width: 20%;
  margin: auto;
  z-index: 2;
  margin-bottom: 50px;
}

.field {
  height: 100px;
  width: 500px;
}

.field-lable {
  margin-bottom: 10px !important;
  color: white !important;
  height: 20%;
  font-size: large !important;
}

.item-list {
  width: 35%;
}

.field input {
  height: 50%;
  color: black !important;
}

table {
  border: white 1px solid;
  width: 80% !important;
  height: 200px;
  overflow-y: scroll !important;
}

tr {
  border: white 1px solid !important;
  width: 100%;
  height: 25px;
}

tr:nth-child(even) {
  background: gray;
}

td,
th {
  border-right: solid 1px white;
  text-align: center;
  font-size: large;
  height: 100%;
}

tbody{
  overflow: scroll;
}

.create-item{
  width: 30%;
  overflow: scroll;
}

th{
  border-bottom: white 1px solid;
}